---
Checks: |
  bugprone-*
  clang-analyzer-*
  concurrency-*
  modernize-*
  -modernize-use-trailing-return-type
  performance-*
  portability-*
  readability-*
  -readability-function-cognitive-complexity
  -readability-identifier-length
  -readability-magic-numbers
